.SecondHeader {
    padding: 115px 0 0 0;
    z-index: 50;
    color: #000;
    font-family: Montserrat, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.87px;
}

.header__background{
    background: url('/public/header_backdround.png') center/cover no-repeat;
}

.header__container{
    display: flex;
    min-height: 68px;
    align-items: center;
}

.header__menu{
    flex: 1 1 auto;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin: 0 54px 0 0;
}

.menu__link{

}
